<a href="https://colab.research.google.com/github/dotserver/dotserver/blob/main/getdata_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input_list = [1, 2, -3]
output_list = []
for x in input_list:
  if x >= 0:       
    output_list.append(1)    
else:        
  output_list.append(0)
output_list

[1, 1, 0]

In [ ]:
output_list = [1 if x >= 0 else 0 for x in input_list]
output_list

[1, 1, 0]

In [ ]:
import timeit

In [ ]:
### Returning No Null values in the dataset
# SELECT Country, InternetUse, Year FROM EconimicIndicators WHERE 
#                                       InternetUse IS NOT NULL


### Returning Null values in the dataset
# SELECT Country, InternetUse, Year FROM EconimicIndicators WHERE 
#                                       InternetUse IS NULL

### Substituting missing data with a specific value using ISNULL
# SELECT Country, InternetUse, Year ISNULL(Country, 'Unknown') AS NewCountry
#             FROM EconimicIndicators.
##### The above creates a new column that will replace miss data in column Country as 'Unknown'

In [ ]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp37-cp37m-manylinux1_x86_64.whl (25.2 MB)
     |████████████████████████████████| 25.2 MB 1.7 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29

In [ ]:
import pandas as pd
import mysql.connector
import datetime

In [ ]:
def database_connetion(user, password, host, database, table, device, timestamp):
  cnxn = mysql.connector.connect(user=user, password=password, host=host, database=database)
  
  columns = 'Timestamp, DevEUI, Temperature, Humidity, Pressure, LightW, MotionAVG, MotionRMCS, MotionSTDR'

  if type(device) is str and type(timestamp) is str:
    data = pd.read_sql_query('SELECT ' + columns + ' FROM ' + table + ' where DevEUI = \'' + device + '\'' + ' AND Timestamp LIKE \'%' + timestamp + '%\'',cnxn)
    
  if type(device) is str and type(timestamp) is list:
    date_list = pd.date_range(start=timestamp[0],end=timestamp[1]).to_pydatetime().tolist()
    temp = ' AND (Timestamp LIKE \'%' + str(date_list[0].date())
    for date in date_list[1:]:
      temp = temp + '%\' OR Timestamp LIKE \'%' + str(date.date())
    data = pd.read_sql_query('SELECT ' + columns + ' FROM ' + table + ' WHERE DevEUI = \'' + device + '\'' + temp + '%\')', cnxn)

  if type(device) is list and type(timestamp) is str:
    temp = ' WHERE (DevEUI = \'' + device[0]
    for dev in device[1:]:
      temp = temp + '\' OR DevEUI = \'' + dev
    temp = temp + '\') And Timestamp LIKE \'%' + timestamp + '%\''
    data = pd.read_sql_query('SELECT * FROM ' + table + temp, cnxn)

  if type(device) is list and type(timestamp) is list:
    date_list = pd.date_range(start=timestamp[0],end=timestamp[1]).to_pydatetime().tolist()
    temp = ' WHERE (DevEUI = \'' + device[0]
    for dev in device[1:]:
      temp = temp + '\' OR DevEUI = \'' + dev

    temp = temp + '\') AND (Timestamp LIKE \'%' + str(date_list[0].date())
    for date in date_list[1:]:
      temp = temp + '%\' OR Timestamp LIKE \'%' + str(date.date())
    temp = temp  + '%\')'

    data = pd.read_sql_query('SELECT * FROM ' + table + temp, cnxn)

  return data

In [ ]:
room_id = ['we','are','here']
where_in = ','.join(['%s'] * len(room_id))

In [ ]:
where_in

'%s,%s,%s'

In [ ]:
timestamp = ['2022-02-07','2022-02-08']
date_list = pd.date_range(start=timestamp[0],end=timestamp[1]).to_pydatetime().tolist()
date_list

[datetime.datetime(2022, 2, 7, 0, 0), datetime.datetime(2022, 2, 8, 0, 0)]

In [ ]:
cnxn = mysql.connector.connect(
  host = "client-data-fetch.cxsmphqeilrp.us-east-1.rds.amazonaws.com",
  user = "instahub",
  password = "fdc703UTPjk",
  database = "devDB-v1"
)

In [ ]:
def database_connetion(user, password, host, database, table, device, timestamp):
  cnxn = mysql.connector.connect(user=user, password=password, host=host, database=database)
  
  if type(device) is str and type(timestamp) is str:
    data = pd.read_sql_query('SELECT ' + columns + ' FROM ' + table + ' where DevEUI = \'' + device + '\'' + ' AND Timestamp LIKE \'%' + timestamp + '%\'',cnxn)
    
  if type(device) is str and type(timestamp) is list:
    date_list = pd.date_range(start=timestamp[0],end=timestamp[1]).to_pydatetime().tolist()
    temp = ' AND (Timestamp LIKE \'%' + str(date_list[0].date())
    for date in date_list[1:]:
      temp = temp + '%\' OR Timestamp LIKE \'%' + str(date.date())
    data = pd.read_sql_query('SELECT ' + columns + ' FROM ' + table + ' WHERE DevEUI = \'' + device + '\'' + temp + '%\')', cnxn)

  if type(device) is list and type(timestamp) is str:
    temp = ' WHERE (DevEUI = \'' + device[0]
    for dev in device[1:]:
      temp = temp + '\' OR DevEUI = \'' + dev
    temp = temp + '\') And Timestamp LIKE \'%' + timestamp + '%\''
    data = pd.read_sql_query('SELECT * FROM ' + table + temp, cnxn)

  if type(device) is list and type(timestamp) is list:
    date_list = pd.date_range(start=timestamp[0],end=timestamp[1]).to_pydatetime().tolist()
    temp = ' WHERE (DevEUI = \'' + device[0]
    for dev in device[1:]:
      temp = temp + '\' OR DevEUI = \'' + dev

    temp = temp + '\') AND (Timestamp LIKE \'%' + str(date_list[0].date())
    for date in date_list[1:]:
      temp = temp + '%\' OR Timestamp LIKE \'%' + str(date.date())
    temp = temp  + '%\')'

    data = pd.read_sql_query('SELECT * FROM ' + table + temp, cnxn)

  return data

NameError: ignored

In [ ]:
first_query = "SELECT username FROM user;"
mycursor.execute(first_query)
username = list(x[0] for x in mycursor.fetchall())
username

In [ ]:
table = 'record'
device = ('2b6f28fffe0000b4', '2b6f28fffe0000b3', '2b6f28fffe0000b2', '2b6f28fffe0000b1', '2b6f28fffe0000b5', '2b6f28fffe0000b6', '2b6f28fffe0000b7')
timestamp = ('2022-02-07', '2022-05-01')
query = "SELECT DATE_FORMAT(Timestamp, '%Y-%m-%d %H:00:00') as dt, \
AVG(Temperature) as Temperature, AVG(Humidity) as Humidity, AVG(Pressure) as Pressure, AVG(LightW) as LightW, \
AVG(MotionAVG) as MotionAVG, AVG(MotionRMCS) as MotionRMCS, AVG(MotionSTDR) as MotionSTDR FROM {} WHERE \
DevEUI IN {} GROUP BY dt HAVING dt >= '{} %' AND dt <= '{} %';".format(table,device,timestamp[0],timestamp[1])
data = pd.read_sql_query(query,cnxn)

In [ ]:
data

,dt,Temperature,Humidity,Pressure,LightW,MotionAVG,MotionRMCS,MotionSTDR
0,2022-02-07 05:00:00,79.925000,21.083333,1027.275000,84.2500,58.5000,234.5000,58.7500
1,2022-02-07 06:00:00,79.862500,23.593750,1026.150000,5.0625,58.6875,189.1875,47.3750
2,2022-02-07 07:00:00,79.444444,22.750000,1025.866667,0.0000,62.3333,42.2778,14.4444
3,2022-02-07 08:00:00,79.361111,22.666667,1025.072222,0.0000,62.3333,35.1667,9.6667
4,2022-02-07 09:00:00,79.335294,22.823529,1024.505882,0.0000,62.2941,35.8235,10.5882
...,...,...,...,...,...,...,...,...
1095,2022-04-30 19:00:00,79.425000,31.675000,988.675000,11.5500,51.1500,22.0250,6.6250
1096,2022-04-30 20:00:00,79.907317,32.036585,988.029268,11.0732,52.9756,23.6098,9.0244
1097,2022-04-30 21:00:00,80.089189,32.216216,987.464865,10.3514,52.5676,21.2162,3.4324
1098,2022-04-30 22:00:00,80.322500,31.700000,986.975000,16.4500,51.6750,23.3750,9.3500
1099,2022-04-30 23:00:00,80.967568,33.040541,986.432432,14.7838,50.2432,20.0811,3.7297